.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: fit-content;
  overflow: auto;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  /* align-items: center; */
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 2rem;
  color: #D95F18;
}

.contactInfo{
  display: block;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.6rem 0;
  color: #A6774E;

}
.remove{
  color:#3FAB90;
}

.actions {
  text-align: right;
  color: #3FAB90;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #593122;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin-left: 0.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #D95F18;
  
  color: white;
}

.actions .button--alt {
  background-color: #593122;
  color: white;
}

.actions .button {
  background-color: #097ebd;
  color: #dfcecc;
}
