.summary {
  text-align: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 55rem;
  width: 95%;
  justify-content: space-between;
  margin: auto;
  background-image: url('/maderas1.jpg');
  background-color: #6b421c; 
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  background-size: cover;
  z-index: 1;
  }

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}
.a{
 background-color: black;
 padding: 0.1rem;
}
