.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background-color: #0a8c8c;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin-inline: 0.5rem;
  padding: 0 2%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 45rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 56%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-2rem) translateX(-1rem);
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #a64d00;
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  /* font-weight: bold; */
}

.button:hover,
.button:active {
  background-color: #097ebd;
}
