#my-image {
  width: 12rem;
  height: 5rem;
  border-radius: 40%;
  background-color: #0a8c8c;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem ;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 0;
  position: relative;
  margin-top: 4rem; 

}

#my-div {
  width: 100%;
  height: 6rem;
  height: 6rem;
  margin-bottom: 3rem;
  background-color: #0a8c8c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 0;
  position: sticky;
  top: 0;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: -2;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit:cover;
  transform: rotateZ(-5deg) translateY(-2rem) translateX(-1rem);
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #A14600;
  color: white;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  border-radius: 25px;
  z-index: 10;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button:hover,
.button:active {
  background-color: #097ebd;
}
