#my-image {
  width: 12rem;
  height: 5rem;
  border-radius: 40%;
  background-color: #0a8c8c;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* margin: 2rem ; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
  margin-top: 5rem; 

}

#my-div {
  width: 100%;
  height: 6rem;
  margin-bottom: 3rem;
  background-color: #0a8c8c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 3;
  position: sticky;
  top: 0;
}


@media screen and (max-width: 768px) {
  #my-div {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  #my-div > div {
    margin-bottom: 1rem;
  }

  #my-div > div:last-child {
    margin-bottom: 0;
  }
}

#header{
  background-image: url("/herramientas2.jpg");
  width:800px;
  height:450px;
}
.main-image {
  width: 100%;
  height: 8rem;
  z-index: 0;
  overflow: hidden;
}


.main-image img {
  width: 110%;
  height: 100%;
  object-fit:cover;
  transform: rotateZ(-5deg) translateY(-2rem) translateX(-1rem);
  z-index: 5;
}

.button {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background-color: #D95F18;
  color: white;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  border-radius: 25px;
  z-index: 10;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button:hover,
.button:active {
  background-color: #593122;
}

.title{
  color:#593122

}